{% extends 'article_layout.html' %}
{% block title %}Test Article - CodeWme{% endblock %}
{% block meta_description %}This is a test{% endblock %}
{% block article_header %}Test Article{% endblock %}
{% block video_id %}{% endblock %}
{% block article_body %}
<h2 class="article-h2">wewefwe</h2>
<h3 class="article-h3">Text</h3>
<p class="article-text">Text</p>

<ul class="article-list">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<pre class="code-block language-cpp"><code>
// Your code here
</code></pre>


<div class="callout info">
    <span class="callout-title">ℹ️ Note</span>
    <p style="margin:0;">Note text...</p>
</div>

<!-- Content goes here -->
HDE
edwe

<a href="https://www.google.com" target="_blank" style="color: var(--primary); text-decoration: underline;">Link Text</a>

{% endblock %}